/* Mobile Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.header {
  width: 100%;
  height: 20%;
  display: grid;
  place-items: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.form {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-submit-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  border: none;
}

.error {
  font-size: 1rem;
  text-align: center;
  color: red;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
  .header {
    font-size: 2rem;
  }

  .container {
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 1rem;
  }

  .result {
    font-size: 2rem;
  }

  .select-crypto,
  .form-input,
  .select-currency,
  .form-submit-btn {
    cursor: pointer;
  }

  .error {
    font-size: 1.5rem;
  }
}
