/* Mobile Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-color: #000;
}

.header {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select,
.input {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
  background-color: #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.submit-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: firebrick;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1rem;
  border: none;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {

  .container {
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 1rem;
  }

  .result {
    font-size: 2rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .select,
  .submit-btn {
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .input {
    border-radius: 0.25rem;
    cursor: auto;
  }

  .submit-btn {
    grid-column: 1 / 4;
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
  }
}
